.container {
  text-align: center;
}

img {
  width: 200px;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
}

#yes {
  background-color: green;
  color: white;
}

#no {
  background-color: red;
  color: white;
}
